*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.page{
    display: flex;
    align-items: center;
    background-color: rgb(96, 136, 255);
    padding: .5em;
    display: flex;
    justify-content: space-between;
    
}
.page ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 8rem;
}
a 
{
    text-decoration: none;
}
ul>li{
    /* display: inline-flex; */
    list-style: none;
    padding-bottom:5px;
    border-bottom: 1px solid transparent;
}
ul>li:hover{
    border-bottom: 1px solid white;
    transition: 1s;
}
ul li:hover{display: block;}

.page ul li a{
    text-decoration: none;
    color: white;
}
.nav{
    display: flex;
    align-items: center;
}
.page .nav img{

    align-items: center;
    height: 50px;
    width: 50px;
    display: inline;

}

.logo img{
    height: 100px;
    width: 100px;
}
.page li{
    display: inline;
}

.logo {
    /* display: flex; */
    /* position: absolute; */
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-image: url(https://bharathgyanblog.files.wordpress.com/2019/07/ncc-1.jpg); */
    /* background-position: center; */
    /* background-size: fill; */
    /* background-repeat: no-repeat; */
} 
.logo > #logo1 
{
    width: 100%;
    height: 100%;
}
.logo > #logo2 
{
    position: absolute;
    top: 90px;
    left: 10px;
    /* height: 100%; */
}

.logo > #logo3 
{
    position: absolute;
    top: 100px;
    left: 130px;
    /* height: 100%; */
}

.para > #para2
{
    padding: 8px;
    text-align: center;
    background-color: rgb(221, 149, 14);
    color: white;

}
.para > #para3
{
    padding: 40px;
    
}
.para > #para1
{
    color: rgb(20, 11, 11);
    padding:20px;
    text-shadow:8px 5px 9px #000000;
}
.container
{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 20px auto;
    
}
.container .box
{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: rgb(19, 19, 4);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 13px;

}
.container .box .icon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 1;
}
.container .box:hover .icon
{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.container .box .icon .fa
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;

}
.container .box:hover .icon .fa
{
    font-size: 40px;
}
.container .box .content
{
    position: absolute;
    top: 100%;
    left: 5px;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;

}
.container .box:hover  .content
{
    top: 100px;
    opacity: 1;
}

.container .box .content h3
{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 24px;

}
.container .box .content p
{
    margin: 10px;
    padding: 0;
    color: #fff;
  

}
.container .box:nth-child(1) .icon
{
    background: #319635;

}
.container .box:nth-child(1) 
{
    background: #4caf50;
}
.container .box:nth-child(2) .icon
{
    background: #d03852;

}
.container .box:nth-child(2) 
{
    background: #f54967;
}
.container .box:nth-child(3) .icon
{
    background: #23798e;

}
.container .box:nth-child(3) 
{
    background: #328fa5;

}
.achive
{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    gap: 10px;
}
.achive  > #button
{
    transition-duration: 0.4s;
}
.achive > #button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  .button {
    border-radius: 2px;
    background-color: #f41e1e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 16px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .container1{
    width: 100%;
    display: block;
    background-color: rgb(17, 16, 16);
    margin: auto;
    padding: 10px;

  }
  .row{
    display: flex;
    width: 100%;
    height: auto;
    /* margin-top: 50px; */
  }
  .footer{
    background-color: black;
    height: auto;
    width: 100vw;
  }
  .footer-col{
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin: 20px 0;
    position: relative;

  }
  .footer-col h4::before{
    
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

  }

  

  







